# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env

# typescript
*.tsbuildinfo

# Ignore native directories (if you are using EAS Build)

/android
/ios

# Ignore test coverage reports

/coverage

google-services.json
notifications-a739e-firebase-adminsdk-fbsvc-6c16252c88.json
